.caseStudy {
    padding: 48px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 5fr 5fr 1fr 2fr;

    & .mainTitle {
        grid-column: 3 / 6;
    }
    & .subText {
        grid-column: 2 / 6;
    }
    & .title {
        grid-column: 2 / 6;
    }
    & .text {
        grid-column: 2 / 6;
    }
    & .subtitle {
        grid-column: 3 / 5;
    }
    & .hero {
        grid-column: 1 / 7;
        background-color: $c-color2;
        text-align: center;
        margin: 0;
        padding: 1em;
    }
}

@media screen and (min-width: 769px) {
    .caseStudy {
        grid-template-columns: 3fr 1fr 4fr 3fr 1fr 1fr 3fr 4fr 1fr 3fr;

        & .mainTitle {
            grid-column: 3 / 10;
        }
        & .subText {
            grid-column: 2 / 10;
        }
        & .title {
            grid-column: 2 / 10;
        }
        & .text__wide {
            grid-column: 3 / 9;
        }
        & .text__left {
            grid-column: 2 / 5;
        }
        & .subtitle {
            grid-column: 3 / 9;
        }
        & .hero {
            grid-column: 1 / 11;
        }
    }
}