.landing {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 1fr 2fr 4fr 2fr 1fr;
    &__main {
        height: 90vh;
        width: 100%;
        grid-column: 1 / 10;
        background-color: brown;
    }
    &__text {
        background-color: black;
        color: white;
        &--left {
            grid-column: 2 / 4;
        }
        &--right {
            grid-column: 6 / 8;
        }
    }
    &__title {
        grid-column: 2 / 9;
    }
}