.news {
    width: 100%;
    padding: 3em 0 1em;
    background-color: rgba($color: #3377FF, $alpha: 0.18);
}

.news .timeMachine {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 0.5em;
    border: solid 1px;

    & .timelist{
        list-style: none;
        width: 90%;
        margin: 1em auto;
        padding: 0;
        display: flex;
        justify-content: space-around;
        border-radius: 0.5em;
        border: solid 1px;

        &__el{
            padding: 0.5em 1em;
            border-radius: 0.25em;

            & a{
                display: block;
            }


        }
        & .active {
            background-color: $c-color2;
        }
    }
}
.news .timeCommand{
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.timebutton {
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
    height: 40px;
    width: 40px;
    font-size: 0;
    cursor: pointer;
    &--left {
        background-image: url('../images/arrow-left-circle.svg');
        &.disable {
            background-image: url('../images/arrow-left-circle-disable.svg');
            cursor: not-allowed;
        }
    }
    
    &--right {
        background-image: url('../images/arrow-right-circle.svg');
        &.disable {
            background-image: url('../images/arrow-right-circle-disable.svg');
            cursor: not-allowed;
        }
    }
}

.article {
    font-size: 18px;
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    background-color: white;
    &__link{
        font-size: 16px;
    }
    & .badge {
        position: relative;
        top: -10px;
        right: -10px;
        padding: 5px 10px;
        border-radius: 50%;
        background: $c-priority;
        color: white;

    }
}
.priority {
    border: solid 0.25em $c-priority;
}


.dark .news {
    background-color: $c-dark-bg;

    & .timeMachine {
        background-color: #DADADA;
        color: $c-dark-bg;
    }
    & .timebutton {
        stroke: #CCC;
    }
    & .article {
        background-color: $c-darker-bg;
    }

}

@media (min-width: 768px) {
 .news {
     padding-top: 1em;
     font-size: 20px;
     & .timeMachine {
         width: 70%;
     }
 }
 .article {
     width: 70%;
     cursor: pointer;
 }
}