.news {
    width: 100%;
    padding: 3em 0 calc(2em + 10%);

    & .title {
        text-align: center;
    }
}

.news .timeMachine {
    background-color: $c-color2;
    width: 80%;
    margin: auto;
    padding: 0.5em 0;
    border: solid 1px;

    & .headTitle {
        width: 80%;
        margin: auto;
        text-align: center;
    }
    & .headDesc {
        width: 80%;
        margin: auto;
    }

    & .timelist{
        list-style: none;
        width: 90%;
        margin: 1em auto;
        padding: 0;
        display: flex;
        justify-content: space-around;
        border-radius: 0.5em;
        border: solid 1px;
        background-color: #fff;

        &__el{
            padding: 0.5em 1em;
            border-radius: 0.25em;
            cursor: pointer;

            & a{
                display: block;
            }


        }
        & .active {
            background-color: $c-color2;
        }
    }
}
.news .timeCommand{
    display: flex;
    justify-content: space-around;
    align-self: center;

    & .timestamp{
        font-weight: 700;
    }
}
.timebutton {
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
    height: 40px;
    width: 40px;
    font-size: 0;
    cursor: pointer;
    &--left {
        background-image: url('../images/arrow-left-circle.svg');
        &.disable {
            background-image: url('../images/arrow-left-circle-disable.svg');
            opacity: 0.8;
            cursor: not-allowed;
        }
    }
    
    &--right {
        background-image: url('../images/arrow-right-circle.svg');
        &.disable {
            background-image: url('../images/arrow-right-circle-disable.svg');
            opacity: 0.8;
            cursor: not-allowed;
        }
    }
}


.dark .news {
    background-color: $c-dark-bg;

    & .timeMachine {
        background-color: #DADADA;
        color: $c-dark-bg;
    }
    & .timebutton {
        stroke: #CCC;
    }
    & .article {
        background-color: $c-darker-bg;
    }

}
@media (max-width: 767px) {
    .news .timeMachine {
        position: fixed;
        bottom: 0;
        border: none;
        width: 100%;
        z-index: 4;
        background-color: rgba($color: $c-color2, $alpha: 0.98);
        & .headTitle, .headDesc, .timelist {
            display: none;
        }
    }
}
@media (min-width: 768px) {
 .news {
     
    padding: 1em 0;
     font-size: 20px;
     & .timeMachine {
         width: 70%;
         padding: 0.5em;
     }
 }
 .article {
     width: 70%;
     cursor: pointer;
 }
}