$c-color1: #3377FF;
$c-color2: #4D88FF;
$c-color3: #1247B3;
$c-color4: #0e2c68;

$c-compl1: #B37B00;
$c-compl2: #FFC033;

$c-priority: #F00;
$c-fav: #FF0;

$c-dark-bg: #121212;
$c-darker-bg: #0B0B0B;
$c-softdark-bg: #1C1C1C;

// UI related
$ui-active: #33E1FF;